# Homework 8: SQL and PyTorch(21 pts)

name: Annie Ye

email: yuhanye@umich.edu

This homework assignment took me XX hours in total to complete. (Please help us to gauge the difficulty of the assignment.)

## Collaboration Disclosure

In the cell below, please list *everyone* with whom you discussed any of the homework problems, excluding only the GSIs and the course instructor. 

If you did not discuss the homework with anyone else, write __"I did not discuss this homework with anyone."__

Even if you discuss questions with other, the code you submit must be only yours. All work is checked with the [MOSS plagiarism detector](https://theory.stanford.edu/~aiken/moss/).

--- I did not discuss this homework with anyone.

## Submission Instructions
Your homework solutions should be written entirely in this Jupyter notebook file. Once it contains your solutions, you should submit this notebook through Canvas. 


Before submitting, please make sure to __Cells->Run All__ executes without errors; errors in your code translate directly to point deductions. 
In general, you don't need to do explicitly raise errors (e.g. with the ```raise``` function) if we don't ask you to in the problem statement.
However, even in cases where we ask you to check for errors, your submission should not contain any examples of your functions actually raising those errors.

Note that many parts of this homework where you are expected to type in code will have ```NotImplementedError()``` as a placeholder. You need to delete this function and replace it with your own code.

## Homework tips 

1. **Start early!** If you run into trouble installing things or importing packages, itâ€™s
best to find those problems well in advance, not the night before your assignment is
due when we cannot help you!

2. **Make sure you back up your work!** At a minimum, do your work in a Dropbox
folder. Better yet, use git, which is well worth your time and effort to learn.

3. **Be careful to follow directions!** Remember that Python is case sensitive. If
you are ask you to define a function called my_function and you define a function
called My_Function, you will not receive full credit. You may want to copy-paste
the function names below to make sure that the functions in your notebook match.

## Error checking

You do not need to do error checking (raising errors, etc.) in your code unless we explicitly ask you to so in a problem.


## Nbgrader

We will be using `nbgrader` to grade your jupyter notebook. You will notice some `read-only` cells in the assignment that contain `assert` statements. These are tests that your code must pass for your solution to be correct. If any of the tests fail, you will get an python error and not get points for that question. 

**Note:** The tests shown not are not comprehensive; additional tests will be used at grading time. You are encouraged to read the problem carefully and verify your code covers all possible cases.

**Be careful:** If a jupyter notebook cell takes longer than `60s` to run, the autograder will not grade it and you will receive zero credit for that question.

## Question 1: Basic SQL (13 pts)
In this problem, you'll interact with a toy SQL database using Python's
built-in `sqlite3` package. Documentation can be found at
<https://docs.python.org/3/library/sqlite3.html>. For this problem,
we'll use a popular toy SQLite database, called Chinook, which
represents a digital music collection. See the documentation at <https://github.com/lerocha/chinook-database/blob/master/README.md>
for a more detailed explanation. We'll use the `chinook.sqlite` file:

In [192]:
import sqlite3
con = sqlite3.connect('chinook.sqlite')
cur = con.cursor()

**1(a)** (2 pt) Load the database using the Python `sqlite3` package. How many tables are in the database? Save the answer in the variable `n_tables`.

In [195]:
# YOUR CODE HERE

cur.execute("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';")
tables = cur.fetchall()
n_tables = len(tables)

con.close()

n_tables

11

In [197]:
assert n_tables == 11

**1(b)** (2 pts) What are the names of the tables in the database? Save the answer as
    a set of strings, `table_names`. **Note:** you should write Python `sqlite3`
    code to answer this; don't just look up the answer in the
    documentation!

In [200]:
# YOUR CODE HERE
con = sqlite3.connect('chinook.sqlite')
cur = con.cursor()

cur.execute("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';")
tables = cur.fetchall()
table_names = {table[0] for table in tables}

con.close()

table_names

{'Album',
 'Artist',
 'Customer',
 'Employee',
 'Genre',
 'Invoice',
 'InvoiceLine',
 'MediaType',
 'Playlist',
 'PlaylistTrack',
 'Track'}

In [202]:
expected = {'Album', 'Genre', 'Playlist', 'PlaylistTrack', 'Employee', 'Customer', 'InvoiceLine', 'Track', 'Artist', 'MediaType', 'Invoice'}
assert table_names == expected

**1(c)** (3 pts) Write a function `albums_starting_with(c)` that takes as an argument a single character `c` and
    returns a list of the primary keys (AlbumIds) of all the albums whose titles
    start with that character. Your function should ignore case, so that
    the inputs "a" and "A" yield the same results. Include error
    checking that raises an error in the event that the input is not a
    single character.

In [205]:
def albums_starting_with(c):
    # YOUR CODE HERE
    if not isinstance(c, str) or len(c) != 1:
        raise Exception("Input must be a single character")

    c = c.upper()

    con = sqlite3.connect('chinook.sqlite')
    cur = con.cursor()

    cur.execute("SELECT AlbumId FROM Album WHERE UPPER(Title) LIKE ?;", (c + '%',))
    res = cur.fetchall()

    con.close()
    
    return [row[0] for row in res]

res = albums_starting_with('a')
res

[10,
 14,
 15,
 24,
 26,
 29,
 74,
 75,
 85,
 89,
 90,
 94,
 95,
 96,
 120,
 139,
 160,
 167,
 168,
 169,
 203,
 224,
 232,
 233,
 248,
 254,
 272,
 273,
 285,
 296,
 307,
 319]

In [207]:
res = albums_starting_with('a')
assert type(res) == list
assert len(res) == 32
for i in [10, 14, 15, 24, 26, 29, 74, 167, 319]:
    assert i in res

try:
    albums_starting_with(3)
except Exception:
    pass
else:
    raise Exception("should raise an exception")

**1(d)** (3 pts) Write a function `songs_starting_with(c)` that takes as an argument a single character and
    returns a list of the primary keys (TrackIds) of all the **songs** whose album
    names begin with that letter. Again, your function should ignore
    case and perform error checking as in the previous exercise (again ignoring case).
    **Hint:** you'll need a JOIN statement here. Don't forget that you
    can use the `cursor.description` attribute to find out about tables
    and the names of their columns.

In [210]:
def songs_starting_with(c):
    # YOUR CODE HERE
    if not isinstance(c, str) or len(c) != 1:
        raise Exception("Input must be a single character")
    
    c = c.upper()
   
    con = sqlite3.connect('chinook.sqlite')
    cur = con.cursor()
    
    cur.execute("SELECT Track.TrackId FROM Track JOIN Album ON Track.AlbumId = Album.AlbumId WHERE UPPER(Album.Title) LIKE ?", (c + '%',))
    res = cur.fetchall()

    con.close()
    
    return [row[0] for row in res]

res = songs_starting_with('a')
res

[85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1229,
 1230,
 1231,
 1232,
 1233,
 1234,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 1485,
 1486,
 1487,
 1488,
 1489,
 1490,
 1491,
 1492,
 1493,
 1494,
 1495,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 2044,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050,
 2051,
 2052,
 2053,
 2054,
 2055,
 2056,
 2057,
 2058,
 2059,
 2060,
 2061,
 2062,
 2063,
 2064,
 2065,
 2066,
 2067,
 2068,
 2069,
 2070,
 2071,
 2072,
 2073,
 2074,
 2075,
 2076,
 2077,
 2078,
 2079,
 2080,
 2081,
 2082,
 2083,
 2084,
 2085,
 2086,
 2087,
 2088,
 2089,
 2090,
 2091,
 2092,
 2506,
 2507,
 2508,
 2509,
 2510,
 2511,
 2512,
 2513,
 2514,
 2515,
 2516,
 2517,
 2518,
 2519,
 2520,
 2521,
 2522,
 2781,
 2782,
 2783,
 2784,
 2785,
 2786,
 2787,
 2788,
 2789,
 2790,
 2791,
 2792,
 2793,
 2794,
 2795,
 2796,
 2797,
 2798,
 2799,
 2800,
 2801,
 2802,
 2926,
 2927,
 2928,
 2929,
 2930,
 2931,
 2932,
 2933,
 2934,
 2935,
 2936,
 2937,
 2938,
 2939,
 2940,
 2941,
 2942,
 2943,
 2944,
 2945,
 2946,
 2947,
 2948,
 3146,
 3147,
 3148,
 3149,
 3150,
 3151,
 3152,
 3153,
 3154,
 3155,
 3156,
 3157,
 3158,
 3159,
 3160,
 3161,
 3162,
 3163,
 3164,
 3250,
 3403,
 3404,
 3416,
 3427,
 3441,
 3453]

In [212]:
res = songs_starting_with('a')
assert type(res) == list
assert len(res) == 369
for i in [85, 86, 87, 331, 332, 333, 923, 924, 925]:
    assert i in res

try:
    songs_starting_with(3)
except Exception:
    pass
else:
    raise Exception("should raise an exception")

try:
    songs_starting_with('res')
except Exception:
    pass
else:
    raise Exception("should raise an exception")

**1(e)** (3 pts) Write a function `cost_of(c)` that takes as an argument a single character and
    returns the cost of buying every song (consider only the songs that were sold - you need to look into InvoiceLine table) whose album begins with that
    letter. This cost should be based on the tracks' unit prices when it was sold, so
    that the cost of buying a set of tracks is simply the sum of the
    unit prices of all the tracks in the set. Again your function should
    ignore case and perform appropriate error checking.

In [215]:
def cost_of(c):
    # YOUR CODE HERE
    if not isinstance(c, str) or len(c) != 1:
        raise Exception("Input must be a single character")
    
    c = c.upper()
    
    con = sqlite3.connect('chinook.sqlite')
    cur = con.cursor()
    
    cur.execute("""
        WITH FirstPurchases AS (
            SELECT 
                il.TrackId,
                il.UnitPrice,
                il.Quantity,
                ROW_NUMBER() OVER (PARTITION BY il.TrackId ORDER BY i.InvoiceDate) as rn
            FROM InvoiceLine il
            JOIN Invoice i ON il.InvoiceId = i.InvoiceId
            JOIN Track t ON il.TrackId = t.TrackId
            JOIN Album a ON t.AlbumId = a.AlbumId
            WHERE UPPER(a.Title) LIKE ?
        )
        SELECT SUM(UnitPrice * Quantity)
        FROM FirstPurchases
        WHERE rn = 1""", (c + '%',))
    
    result = cur.fetchone()[0]
    con.close()
    
    return result
    
res = cost_of('a')
res

216.82

In [217]:
res = cost_of('a')
assert type(res) == float
assert abs(res - 216.82) < 1e-5

try:
    cost_of(3)
except Exception:
    pass
else:
    raise Exception("should raise an exception")

## Problem 2: Building simple models with Pytorch (8 points) 
In this problem, you'll use **Pytorch** to build the loss functions for a pair of commonly-used statistical models. 

We will use variables $X$ and $Y$, which will serve as the predictor (independent variable) and response (dependent variable), respectively. Please use $W$ to denote a parameter that multiplies the predictor, and $b$ to denote a bias parameter (i.e., a parameter that is added).

**2(a)** (4 pts)

In this model, the binary variable $Y$ is distributed as a Bernoulli random variable with success parameter $\sigma(W^T X + b)$, where $\sigma(z) = (1+\exp(-z))^{-1}$ is the logistic function, $X \in R^6$ is the predictor random variable, and $W \in R^6, b \in R$ are the model parameters. 
 
Using **Pytorch** code, implement a class `LogisticRegression` that inherits from `nn.module`. This class should should have two attributes `w` and `b` which should be `nn.parameters` with shapes `(6,1)` and `(1)` respectivelly. 

This class should a method called `forward` that takes in the predictor random variable `x` with shape `(N, 6)`, where `N` is the number of observations, and returns the success parameter (also known as the prediction of our model on $Y$).

**Note:** Please initialize both `w, b` to be __all-one float tensors.__

In [221]:
!pip install torch

import torch
import torch.nn as nn

class LogisticRegression(nn.Module):
    # YOUR CODE HERE
    
    def __init__(self):
        super(LogisticRegression, self).__init__()
        self.w = nn.Parameter(torch.ones(6, 1, dtype=torch.float32))
        self.b = nn.Parameter(torch.ones(1, dtype=torch.float32))
    
    def forward(self, x):
        linear_output = torch.matmul(x, self.w) + self.b
        y_pred = torch.sigmoid(linear_output)
        return y_pred

model = LogisticRegression()

x = torch.eye(6).float()
y = model.forward(x)
y

Requirement already satisfied: torch in /opt/anaconda3/lib/python3.12/site-packages (2.5.1)
Requirement already satisfied: filelock in /opt/anaconda3/lib/python3.12/site-packages (from torch) (3.13.1)
Requirement already satisfied: typing-extensions>=4.8.0 in /opt/anaconda3/lib/python3.12/site-packages (from torch) (4.11.0)
Requirement already satisfied: networkx in /opt/anaconda3/lib/python3.12/site-packages (from torch) (3.2.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.12/site-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from torch) (2024.3.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from torch) (69.5.1)
Requirement already satisfied: sympy==1.13.1 in /opt/anaconda3/lib/python3.12/site-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jinja2->torch) (2.1.3)

tensor([[0.8808],
        [0.8808],
        [0.8808],
        [0.8808],
        [0.8808],
        [0.8808]], grad_fn=<SigmoidBackward0>)

In [223]:
model = LogisticRegression()
assert type(model.w) == nn.Parameter
assert type(model.b) == nn.Parameter
x = torch.eye(6).float()
y = model.forward(x)
assert y.shape == (6, 1)

**2(b)** (4 pts)

Using **Pytorch** code, write a function called `neg_log` that takes in `y_true` (true value of $Y$) and `y_pred` (predicted value of $Y$) and returns the negative log-likelihood loss function. You can assume that both `y_true` and `y_pred` have shapes `N x 1` where `N` is the number of observations. 
 
 __Hint:__ The loss should be a negative log-likelihood term, summed over all the observations. Remember that $Y$ is Bernoulli distributed which should suggest what the likelihood is.

In [226]:
def neg_log(y_true, y_pred):
    # YOUR CODE HERE
    epsilon = 1e-5
    y_pred = torch.clamp(y_pred, epsilon, 1 - epsilon)

    loss = - (y_true * torch.log(y_pred) + (1 - y_true) * torch.log(1 - y_pred))
    total_loss = torch.sum(loss)
    
    return total_loss

In [228]:
y_true = torch.tensor([1, 1, 1, 1, 1]).float().view(5, 1)
y_pred = torch.tensor([0.5, 0.5, 0.5, 0.5, 0.5]).float().view(5, 1)
assert 3.4 < neg_log(y_true, y_pred).item() < 3.6